*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --dark: rgb(30, 30, 30);
  --lighter: rgb(38, 38, 38);
  --blue: #00d8ff;
  --white: white;
  --imprint: lightgrey;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--dark);
}

.logo-ct {
  display: flex;
  margin-left: 10px;
}

.header .logo-ct {
  color: var(--blue);
}

.facts {
  margin-left: 5px;
}

.header h4 {
  color: var(--white);
  margin-right: 20px;
  font-size: 1.25rem
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: var(--lighter);
  height: 100vh;
  color: var(--white);
}

.main h1 {
  margin: 0;
  font-size: 2.5rem;
}

.main li, .header .logo-ct{
  font-size: 1.75rem;
}

.main ul {
  list-style: none;
}

.main li {
  margin-top: 15px;
}

.main ul li::before {
  content: '\2022';
  color: var(--blue);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  font-size: 2.5rem;
  margin-right: 10px;
}
